.container
  width: 20px
  height: 20px
  background-color: #7f4156
  &::after
    content: ''
    display: block
    width: 6px
    height: 12px
    border: solid #fff
    border-width: 0 2px 2px 0
    transform: rotate(40deg)
    margin: 13px 0 0 6px
