.container
  width: 800px
  height: 100vh
  display: flex
  flex-direction: column
  margin: 0 auto
  padding: 0 10px
  box-sizing: border-box
  color: #828282
  svg
    path
      fill: rgb(163, 162, 162)
  div, span ,a, svg
    outline: 0

@media (max-width: 800px)
  .container
    width: 100%
